<h1>Games</h1>

<table>
  <thead>
    <tr style="text-align: left;">
      <th>Game</th>
      <th>Watched</th>
      <th>Remote ID</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @games.each do |game| %>
      <tr>
        <td><%= link_to game.description, game_path(game) %></td>
        <td><%= game.watch ? "Yes" : "No" %></td>
        <td><%= game.remote_id %></td>
        <td>
          <%= link_to 'Edit', edit_game_path(game) %> |
          <%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Game', new_game_path %>
