<%= content_for(:pusher_channel, "games") %>

<h1>Games</h1>

<table>
  <thead>
    <tr style="text-align: left;">
      <th>ID</th>
      <th>Game</th>
      <th>Watched</th>
      <th>Game Time</th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @games.order(:id).each do |game| %>
      <tr>
        <td><%= game.id %></td>
        <td><%= link_to game.description, game_path(game) %></td>
        <td><%= game.watch ? "Yes" : "No" %></td>
        <td><%= game.game_time.to_mst_datetime %></td>
        <td>
          <%= link_to 'Edit', edit_game_path(game) %> |
          <%= link_to 'Destroy', game, method: :delete, data: { confirm: 'Are you sure?' } %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<div>
  <%= link_to 'New Game', new_game_path %>
</div>

<div>
  <%= link_to "http://developer.sportradar.com/files/indexHockey.html#nhl-api", "http://developer.sportradar.com/files/indexHockey.html#nhl-api" %>
</div>
