<%= content_for(:pusher_channel, "game-#{@game.id}") %>

<div>
  <b><%= @game.description %></b>
  (<%= @game.remote_id %>)
</div>
<div>
  <%= @game.watch ? "Being watched" : "Not being watched" %>
</div>

<div>
  <%= link_to 'Edit', edit_game_path(@game) %> |
  <%= link_to 'Back', games_path %>
</div>

<br>
<br>

<table style="width:100%;">
  <tr>
    <th style="text-align: left;">Clock</th>
    <th style="text-align: left;">Period</th>
    <th style="text-align: left;">Type</th>
    <th style="text-align: left;">Wall Clock</th>
    <th style="text-align: left;">Description</th>
  </tr>
  <% @game.events.each do |event| %>
    <tr>
      <td><%= event.clock %></td>
      <td><%= event.period %></td>
      <td><%= event.event_type %></td>
      <td><%= event.wall_clock %></td>
      <td><%= event.description %></td>
    </tr>
  <% end %>
</table>

<div class="event-links">
  <%= link_to "Goal", game_manual_events_path(@game, event_type: "goal"), method: :post, remote: true, class: "event-link" %>
  <%= link_to "Penalty", game_manual_events_path(@game, event_type: "penalty"), method: :post, remote: true, class: "event-link" %>
  <%= link_to "Shotsaved", game_manual_events_path(@game, event_type: "shotsaved"), method: :post, remote: true, class: "event-link" %>
  <%= link_to "Faceoff", game_manual_events_path(@game, event_type: "faceoff"), method: :post, remote: true, class: "event-link" %>
</div>
